doctype html
html
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet' type='text/css' href='css/style.css')
    h1  🇺🇸 Client support administration 🇺🇸
    div.administration
        div.room
            section#conversations.conv

        div#section_reply.section_reply

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script.

        // 1- faire en sorte que quand la socket envoie un second message alors
        // il est directement ajouté dans le fil des message coté admin.

        // 2- géré le onClick admin

        // 3- pouvoir envoyé un message uniquement a l'administrateur

        // 4- puis faire un if si l'user n'a pas ecrit le bouton est disabled.

        // 5- front-end correct

        let socket = io.connect('http://localhost:3000/');
        socket.emit('admin');

        socket.on('administrator',(data) => {
            console.log(data.socket)
            let admin_socket = data.socket
            socket.emit('data_admin', {socket: admin_socket})

        })
        socket.on('new_message', function (data) {

                // parse les message de la socket
                for (let i = 0; i < data.length; i++) {
                    let conversations = $("#conversations");
                    let username = "Administrator"
                    let messagess = $("#section_reply")

                    console.log(data.length)

                    let theSocket_MESSAGE = ""
                    let theSocket_ID = ""
                    let theSocket_USERNAME = ""

                    theSocket_MESSAGE += data[i].msg
                    theSocket_ID += data[i].socket
                    theSocket_USERNAME += data[i].user

                    // verification si c'est le premier message envoyé par l'user
                    if(data.length === 1){
                        console.log("1 seul message j'affiche alors la div de présentation")
                        conversations.append("<div class= conversation>" + "<p id='conversation_id' class='conversation_id' data-socket=" + theSocket_ID + "> ➡️  "
                            + 'ID' + ':  ' + theSocket_ID + "</p>" + "<p id='conversation_username' class='conversation_username'>" + '   ' +
                            'Username' + ':  ' + theSocket_USERNAME + "</p>" + "<p id='conversation_message' class='conversation_message' >" + '   ' +
                            'Message' + ':  ' + theSocket_MESSAGE +
                            "</p>" + " <button id='open_c' data-socket =" + theSocket_ID + " data-message =" + theSocket_MESSAGE + " >open</button> " + "</div>")

                    }
                    else{
                        console.log("+ que 1 message alors j'envoie ce dernier dans le fil de discussion")
                    }

                    $("#open_c").click(function () {

                        let p_discussion = document.getElementById('conversation_id');
                        let element_p_socket = p_discussion.getAttribute("data-socket");

                        if (theSocket_ID === element_p_socket) {
                            console.log('if discuss')
                        } else {
                            console.log('else discuss')
                        }

                        let btn_open = document.getElementById('open_c');
                        let elementSocket = btn_open.getAttribute("data-socket");
                        let elementMessage = btn_open.getAttribute("data-message");

                        messagess.append("<div class='section_reply_conversation'>"
                            + "<section class='conv_single_user' id='conv_single_user'></section>" +
                            "</div>" + "<div id='reply_message' class='reply_message'>" +
                            "<p> message : " + elementMessage + "</p>" +
                            " <section class='reply' id='reply'>" +
                            "<input id='write_answer' type='text' placeholder='your answer' class='write_response'>" +
                            " <button id='reply_to' type='button' class='reply_to'>send</button>" +
                            "</section>" + "</div>")


                        const conv_msg_reply = $("#reply_message")
                        conv_msg_reply.append("<p>message : " + theSocket_MESSAGE + "</p>")

                        $("#reply_to").click(function () {
                            let input_answer = $("#write_answer")
                            socket.emit('new_answer', {
                                id: elementSocket,
                                message: input_answer.val(),
                                username: username
                            })
                        })
                    })
                    //console.log(data[i].msg + ' ' + data[i].socket + ' ' + data[i].user);
                }
            }
        )