doctype html
head
    meta(charset='utf-8')
    title Socket.io
    style.
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        .mess {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        input {
            border: 1px solid;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #chat_room {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #chat_room li {
            padding: 5px 10px;
        }

        #chat_room li:nth-child(odd) {
            background: #eee;
        }
section
    #change_username
        label(for='username')
        input#username(type='text' placeholder='your username')
section#chat_room
section
    .mess
        input#message(placeholder='message' autocomplete='off')
        button#send_message Send
script(src='http://code.jquery.com/jquery-1.10.1.min.js')
script(src='/socket.io/socket.io.js')
script.
    $(function () {

        let socket = io.connect('http://localhost:3000/');
        let username = $("#username");
        let message = $("#message");
        let send_message = $("#send_message");
        let chat_room = $("#chat_room");

        let content = []

        //sending event message for server
        send_message.click(function () {

            let user_msg = {
                socket: socket.id,
                msg: message.val(),
                user: username.val()
            }
            content.push(user_msg)
            console.log(content)
            socket.emit('new_message', content)
            // socket.emit('new_message', {message: message.val(), username: username.val()})
        })

        // receive the event from the server
        // supprimer celui la si je veut pas que ça l'envoie a tout le monde.
        socket.on('new_message', function (data) {
            for (let i = 0; i < data.length; i++) {

                let theSocket_MESSAGE = ""
                let theSocket_ID = ""
                let theSocket_USERNAME = ""

                theSocket_MESSAGE += data[i].msg
                theSocket_ID += data[i].socket
                theSocket_USERNAME += data[i].user

                chat_room.append("<div><p><strong>" + theSocket_USERNAME + "</strong>" + " : " + "<strong>" + theSocket_MESSAGE + "</strong></p></div>")

            }

            // chat_room.append("<div><p><strong>" + data.username + "</strong>" + " : " + "<strong>" + data.message + "</strong></p></div>")

        })

        // receive the event from server private message
        socket.on('private_message',function (data) {
            console.log(data.message)
            console.log(data.username)
            chat_room.append("<div><p><strong>" + data.username + "</strong>" + " : " + "<strong>" + data.message + "</strong></p></div>")
        })
    });
